<main id="content" class="container-fluid" role="main">
<div class="row home-main">
<div class="col-md-1">
  <header class="navbar navbar-default text-center" role="navigation">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        <img class="img-responsive" alt="HFUN_LOGO" src="http://7xj0tn.com1.z0.glb.clouddn.com/image/logo/hfun-pink-logo-500px.png">
      </a>
      <h2>
        <span style="display: inline-block;">趣乐</span><span style="display: inline-block;">无穷</span>
      </h2>
      <blockquote id="couple-slogan" class="small">
        <em><span style="display: inline-block;">Have interest</span>, <span style="display: inline-block;">have FUN</span></em>
      </blockquote>
      <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#couple-navbar" aria-controls="couple-navbar" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div><!-- navbar-header -->
    <nav class="navbar-collapse collapse" aria-expanded="false" id="couple-navbar" style="height: 0; overflow: hidden;">
      <ul class="nav navbar-nav text-center">
        <li><a class="btn" href="/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> 首页</a></li>
        <li><a class="btn" href="/tag/life"><span class="glyphicon glyphicon-picture" aria-hidden="true"></span> 生活</a></li>
        <li><a class="btn" href="/tag/tech"><span class="glyphicon glyphicon-console" aria-hidden="true"></span> 技术</a></li>
        <li><a class="btn" href="/page/2"><span class="glyphicon glyphicon-tags" aria-hidden="true"></span> 标签</a></li>
        <li><a class="btn" href="/timeline"><span class="glyphicon glyphicon-list" aria-hidden="true"></span> 时光</a></li>
        <li><a class="btn" href="/search"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> 搜索</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle btn" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> 关注</a>
          <ul class="dropdown-menu">
            <li><a href="#wechat_public">微信</a></li>
            <li><a href="http://weibo.com/wargm" target="_blank">微博</a></li>
            <li><a href="https://twitter.com/hfuntw" target="_blank">Twitter</a></li>
            <li><a href="https://plus.google.com/+黄方" target="_blank">Google+</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="/rss">RSS</a></li>
          </ul>
        </li>
        <li><a class="btn" href="/about"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> 关于</a></li>
      </ul>
    </nav><!-- #couple-navbar -->
  </header>
  <div class="eof-line"></div>
</div><!-- col-md-1 -->